.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-image {
    width: 350px;
    height: 300px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(-30deg); }
    25% { transform: rotate(30deg); }
    50% { transform: rotate(-30deg); }
    75% { transform: rotate(30deg); }
    100% { transform: rotate(-30deg); }
}
