.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #f8f9fa;
}

.logo {
    width: 130px;
    height: auto;
    border-radius: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff0000;
}